{{ define "main" }}
  <header class="post--header">
    <h1 class="post--title">{{ .Title }}</h1>
    <h4 class="post--subtitle">
      <span>{{ .Date.Format "Sunday, January 2 2006" }}</span>
      <span>
        {{ printf ("%d min%s read") .ReadingTime (cond (gt .ReadingTime 1) "s" "" ) }}
      </span>
      {{ with .Params.tags }}
        <ul class="post--tags">
          {{ range . }}
            <li><a class="post--tag" href="{{ "tags" | relURL }}/{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </h4>
    {{ with .Params.cover }}
      {{ with $.Resources.GetMatch . }}
        {{ $low := .Resize "20x q10" | images.Filter (images.GaussianBlur 6) }}
        {{ $tiny := .Resize "500x" }}
        {{ $small := .Resize "800x" }}
        {{ $medium := .Resize "1200x" }}
        {{ $large := .Resize "1500x" }}
        {{ $img := imageConfig (printf "content%s%s" $.RelPermalink . | relURL) }}
        <figure class="post--cover">
          <picture>
            <source media="(max-width: 500px)" srcset="{{ $tiny.RelPermalink }}">
            <source media="(max-width: 800px)" srcset="{{ $small.RelPermalink }}">
            <source media="(max-width: 1200px)" srcset="{{ $medium.RelPermalink }}">
            <source media="(max-width: 1500px)" srcset="{{ $large.RelPermalink }}">

            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Title }}"
              title="Cover Image"
              style="background: url(data:image/jpeg;base64,{{ $low.Content | base64Encode }}); background-size: cover;"
              width="{{ $img.Width }}"
              height="{{ $img.Height }}"
              loading="lazy"
              decoding="async"
            />
          </picture>
        </figure>
      {{ end }}
    {{ end }}
  </header>
  <article class="post--body">
    {{ .Content }}
    {{ partial "share" . }}
  </article>
  <span class="back-to-top"><button aria-label="Scroll to Top" tabindex="-1">☝️</button></span>
{{ end }}

