<footer class="footer--outer">
  <hr class="footer--separator" />
  <h5 class="footer--text">
    Built with
    <span class="footer--heart"></span>
    &copy; <span id="footer--year">{{ now.Format "2006" }}</span>
  </h5>
  <div class="footer--links">
    <a href="https://www.linkedin.com/in/vaibhavkandwal/" target="_blank" rel="noopener noreferrer"
      >linkedin</a
    >
    <a href="https://www.github.com/boxdox/" target="_blank" rel="noopener noreferrer">github</a>
    <a
      href="https://github.com/boxdox/resume/releases/latest/download/resume.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      résumé
    </a>
  </div>
</footer>
